@import "../../../resources.scss";

:host(app-home) {
    width: 100%;
    @include flex-align-center-col;
}

table {
    width: 100%;
}

.head {
    width: 80%;
    @include flex-align-center-row;
    justify-content: flex-end;

    margin-bottom: 3em;

    mat-icon {
        font-size: 2em;
    }
    button {
        padding-right: 10em;
    }

    mat-form-field {
        padding: 0;
    }
}

mat-form-field {
    width: 80%;
    padding-bottom: 4em;
}

th {
    font-size: 1.3em;
}
td {
    font-size: 1.1em;

    .name {
        font-style: italic;
    }
}
mat-icon:hover {
    opacity: 0.3;
}

.modifier {
    width: 0.3em !important;
}

.buttons {
    @include flex-align-center-col;
    width: 20%;

    .button {
        margin-left: 5em;
        width: 100%;
    }
    button#nb1 {
        margin-bottom: 1em;
    }

    .button:hover:enabled {
        opacity: 0.7;
    }
}

.validation-icon {
    height: 2em;
    padding: 1em;
}
