@import "../resources.scss";

.header {
    display: flex;
    align-items: center;
    h1 {
        margin: 0;
        // margin-left: 3em;
        position: absolute;
        font-size: 2.5em;
        opacity: 0.7;
        border-top: 8px solid red;
        padding-top: 0.4em;
    }

    .toolbar {
        @include flex-align-center-row;
        width: 100%;

        a {
            font-size: 2em;
            padding-left: 2em;
            padding-right: 2em;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}

::ng-deep .mat-ink-bar {
    height: 4px !important;
    background-color: red !important;
    // border-radius: 7px !important;
    &::before {
        content: "";
        display: block;
        width: 100%;
        position: absolute;
        transition: 150ms cubic-bezier(0.35, 0, 0.25, 1);
    }
}

::ng-deep
    body
    > app-root
    > div
    > div
    > nav
    > div.mat-ripple.mat-tab-header-pagination.mat-tab-header-pagination-before.mat-elevation-z4.mat-tab-header-pagination-disabled,
::ng-deep
    body
    > app-root
    > div.header
    > div
    > nav
    > div.mat-ripple.mat-tab-header-pagination.mat-tab-header-pagination-after.mat-elevation-z4.mat-tab-header-pagination-disabled {
    display: none;
}

.content {
    padding-top: 5em;
    @include flex-align-center-col;
}

::ng-deep .mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: red !important;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: rgb(255, 0, 0) !important;
}
