<!-- <app-toolbar></app-toolbar> -->

<div class="header">
    <div class="logo">
        <span class="h"></span>
        <h1>myOrders</h1>
    </div>
    <div class="toolbar">
        <nav mat-tab-nav-bar>
            <a
                mat-tab-link
                *ngFor="let tab of navLinks"
                [routerLink]="tab.link"
                routerLinkActive
                #rla="routerLinkActive"
                [active]="rla.isActive"
                >{{ tab.label }}</a
            >
        </nav>
    </div>
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>
